.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnlike {
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 30px;
  color: #00b818;
  background-color: transparent;
  outline: none;
}

.btndislike {
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  padding: 0px 5px;
  font-size: 18px;
  line-height: 30px;
  color: #cc0000;
  background-color: transparent;
  outline: none;
}

button:first-of-type {
  border-right: 2px solid #74777d;
}

.btnlike:hover {
  color: #017531;
}

.btndislike:hover {
  color: #7c0000;
}

.active,
.active:hover {
  color: #969696;
}

span {
  margin-left: 6px;
}
